
<h1>Student record </h1>
<table border="5" align="center" >
    
 <form method="POST" action="search">  
  {% csrf_token%}
 <tr>
    <td><input name="name"></td>
   <td> <button type="submit">search</button> </td>
</tr>
</form>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>lastname</td>
        <th>email</th>
    </tr>
    {%for i in data%}
    <tr>
<td>{{i.id}}</td>
<td>{{i.name}}</td>
<td>{{i.lastname}}</td>
<td>{{i.email}}</td>
<td> 
    <a href="edit/{{i.id}}">edit</a>
</td>
<td> 
    <a href="delete/{{i.id}}">delete</a>
</td>
</tr>
    {%endfor%}
</table>